In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("AWCustomers.csv")
print("Shape of dataset:", df.shape)
df.head()

Shape of dataset: (18361, 24)

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06

In [4]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            18361 non-null  int64
 1   Title                 101 non-null    object
 2   FirstName             18361 non-null  object
 3   MiddleName            10572 non-null  object
 4   LastName              18361 non-null  object
 5   Suffix                3 non-null      object
 6   AddressLine1          18361 non-null  object
 7   AddressLine2          311 non-null    object
 8   City                  18361 non-null  object
 9   StateProvinceName     18361 non-null  object
 10  CountryRegionName     18361 non-null  object
 11  PostalCode            18361 non-null  object
 12  PhoneNumber           18361 non-null  object
 13  BirthDate             18361 non-null  object
 14  Education             18361 non-null  object
 15  Occupation            18361 non-null  object
 16  Gender                18361 non-null  object
 17  MaritalStatus         18361 non-null  object
 18  HomeOwnerFlag         18361 non-null  int64
 19  NumberCarsOwned       18361 non-null  int64
 20  NumberChildrenAtHome  18361 non-null  int64
 21  TotalChildren         18361 non-null  int64
 22  YearlyIncome          18361 non-null  int64
 23  LastUpdated           18361 non-null  object
dtypes: int64(6), object(18)
memory usage: 3.4+ MB
None
         CustomerID  HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  \
count  18361.000000   18361.000000     18361.000000          18361.000000
mean   20241.987092       0.610588         1.270301              0.338162
std     5336.332731       0.487630         0.913989              0.568957
min    11000.000000       0.000000         0.000000              0.000000
25%    15621.000000       0.000000         1.000000              0.000000
50%    20248.000000       1.000000         1.000000              0.000000
75%    24863.000000       1.000000         2.000000              1.000000
max    29483.000000       1.000000         5.000000              3.000000

       TotalChildren   YearlyIncome
count   18361.000000   18361.000000
mean        0.850389   72754.779642
std         0.927315   30686.014313
min         0.000000   25435.000000
25%         0.000000   53312.000000
50%         0.000000   61851.000000
75%         2.000000   87410.000000
max         3.000000  139115.000000

Part 1

In [6]:

# a)
data = df[['Education','Occupation','Gender','MaritalStatus','HomeOwnerFlag','NumberCarsOwned','TotalChildren','YearlyIncome']]

# b)
df_new = data.copy()

# c)
# Education -> Discrete (Ordinal)
# Occupation -> Discrete (Nominal)
# Gender -> Discrete (Nominal)
# MaritalStatus -> Discrete (Nominal)
# HomeOwnerFlag -> Discrete (Binary Nominal)
# NumberCarsOwned -> Discrete (Ordinal)
# TotalChildren -> Discrete (Ordinal)
# YearlyIncome -> Continuous (Ratio)

Part 2:-

In [7]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder, KBinsDiscretizer
from sklearn.impute import SimpleImputer

# a)
imputer = SimpleImputer(strategy='mean')
numerical_cols = ['HomeOwnerFlag','NumberCarsOwned','TotalChildren','YearlyIncome']
data[numerical_cols] = imputer.fit_transform(data[numerical_cols])

# b)
scaler = MinMaxScaler()
data['YearlyIncome'] = scaler.fit_transform(data[['YearlyIncome']])

# c)
kbins_income = KBinsDiscretizer(n_bins=5, encode='ordinal', strategy='quantile')
data['YearlyIncome'] = kbins_income.fit_transform(data[['YearlyIncome']])

# d)
std_scaler = StandardScaler()
data['YearlyIncome'] = std_scaler.fit_transform(data[['YearlyIncome']])

# e)
categorical_features = ['Gender', 'MaritalStatus', 'Education', 'Occupation']
encoder = OneHotEncoder(sparse_output=False, drop='first')
encoded_data = encoder.fit_transform(data[categorical_features])
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(categorical_features))

df_final = pd.concat([data.drop(columns=categorical_features), encoded_df], axis=1)

C:\Users\aksha\AppData\Local\Temp\ipykernel_2628\1694248084.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[numerical_cols] = imputer.fit_transform(data[numerical_cols])
C:\Users\aksha\AppData\Local\Temp\ipykernel_2628\1694248084.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['YearlyIncome'] = scaler.fit_transform(data[['YearlyIncome']])
C:\Users\aksha\AppData\Local\Temp\ipykernel_2628\1694248084.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['YearlyIncome'] = kbins_income.fit_transform(data[['YearlyIncome']])
C:\Users\aksha\AppData\Local\Temp\ipykernel_2628\1694248084.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['YearlyIncome'] = std_scaler.fit_transform(data[['YearlyIncome']])

Part 3:-

In [8]:
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from scipy.spatial.distance import jaccard
from scipy.stats import pearsonr

# a)
obj1 = df_final.iloc[0].values.reshape(1, -1)
obj2 = df_final.iloc[1].values.reshape(1, -1)

simple_matching = 1 - np.mean(obj1 != obj2)
jaccard_sim = 1 - jaccard(obj1.flatten(), obj2.flatten())
cos_sim = cosine_similarity(obj1, obj2)[0][0]

# b)
commute_mapping = {
    '0-1 Miles': 1, '1-2 Miles': 2, '2-5 Miles': 3,
    '5-10 Miles': 4, '10+ Miles': 5
}
data['CommuteDistance_num'] = data['CommuteDistance'].map(commute_mapping)
corr, p_value = pearsonr(data['CommuteDistance_num'], data['YearlyIncome'])
print("Simple Matching Similarity:", simple_matching)
print("Jaccard Similarity:", jaccard_sim)
print("Cosine Similarity:", cos_sim)
print("Correlation (Commute Distance vs Yearly Income):", corr, " | p-value:", p_value)

KeyError: 'CommuteDistance'